$lightPurple : #812cac4c;

.App{
    display: flex;
    justify-content: center;

     //LOGIN & REGISTER
     .auth{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: $lightPurple;
        

        h1{
            font-size: 30px;
            color: rgba(155, 10, 155, 0.748);
            margin-bottom: 20px;
        }
        
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            border-radius: 12px;
            background-color: white;
            width: 200px;
            gap: 20px;

            .img-Container{
                border-radius: 50%;
                width: 120px;
                height: 120px;
                cursor: pointer;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                input{
                    border: 2px solid red;
                }

            }

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;

                &:focus{
                    outline: none;
                }
            }

            button{
                padding: 10px;
                border: none;
                background-color: rgba(155, 10, 155, 0.748);
                color: white;
                cursor: pointer;
            }

            p{
                font-size: 12px;
                text-align: center;
                color: red;
            }

            span{
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .container{
        width: 1024px;
        
        .link{
            text-decoration: none;
            color: inherit;
        }

        //NAVBAR
        .navbar{
            .container{
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo{

                    img{
                        width: 120px;
                        height: 120px;
                    
                    }
                   
                }

                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                h6{
                    font-size: 16px;
                    font-weight: 300;
                }

                span{
                    cursor: pointer;
                }

                .write{
                    background-color: $lightPurple;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    border: 1px solid white;

                    &:hover{
                        color:rgba(155, 10, 155, 0.748);
                        background-color: white;
                        border: 1px solid rgba(155, 10, 155, 0.748);
                    }
                }
            }
        }

        //FOOTER
        
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $lightPurple;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;

            img{
                height: 50px;

            }
        }

        //HOME

        .home{
            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post{
                    display: flex;
                    gap: 100px;

                    &:nth-child(odd){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;
                        max-width: 368.3px;
                        min-height: 400px;
                        max-height: 400px;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $lightPurple;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }


                        img{
                            width: 100%;
                            min-height: 400px;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        max-width: 552.5px;
                
                        h1{
                            font-size: 48px;
                            word-wrap: break-word;
                        }

                        p{
                            font-size: 18px;
                            word-wrap: break-word;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid rgba(155, 10, 155, 0.748);
                            color: rgba(155, 10, 155, 0.748);

                            &:hover{
                                border: 1px solid white;
                                background-color: $lightPurple;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //SINGLE

        .single{
            display: flex;
            gap: 50px;
            width: 100%;
           
            .content{
                flex: 5;
                max-width: 695.71px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                
    
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }

                    .edit{
                        display: flex;
                        gap: 5px;

                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }

                h1{
                    font-style: 42px;
                    color: #333;
                    word-wrap: break-word;
                }

                p{
                    text-align: justify;
                    line-height: 30px;
                    word-wrap: break-word;
                    padding: 5px;
                   
                }
            }

            .menu{
                flex: 2;
                max-width: 278.3px;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    color: #555;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 8px;

                    img{
                        max-width: 100%;
                        height: 200px;
                        object-fit: cover;
                        
                    } 

                    h2{
                        color: #555;
                        word-wrap: break-word;
                    }

                    button{
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid rgba(155, 10, 155, 0.748);
                        color: rgba(155, 10, 155, 0.748);

                        &:hover{
                            border: 1px solid white;
                            background-color: $lightPurple;
                            color: black;
                        }
                    }
                }
            }
        }

        //WRITE

        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgrey;

                    &:focus{
                        outline: none;
                    }
                }

                .editorContainer{
                    height: 300px;
                    overflow: hidden;
                    border: 1px solid lightgray;
                   max-width: 715px;

                    .editor{
                        height: 100%;
                        width: 100%;
                        border: none;
                    }
                }

            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                    border: 1px solid lightgrey;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1{
                        font-size: 20px;
                    }

                    .file{
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .button{
                        display: flex;
                        justify-content: flex-end;

                        :first-child{
                            cursor: pointer;
                            color: white;
                            background-color: rgba(155, 10, 155, 0.748);
                            border: none;
                            padding: 3px 5px;
                        }
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            color: rgba(155, 10, 155, 0.748);
                            background-color: white;
                            border: 1px solid rgba(155, 10, 155, 0.748);
                            padding: 3px 5px;
                        }

                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: rgba(155, 10, 155, 0.748);
                            border: none;
                            padding: 3px 5px;
                        }
                    }

                    .cat{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: rgba(155, 10, 155, 0.748);
                    }

                }
            }
        }

    }
}